.user {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 24px 0;
  font-size: 32px
}
.avatar {
  display: inline-block;
  width: 17vw;
  height: 17vw;
  border: 2px solid #EEE;
  border-radius: 100%;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover
}
.tag {
  background-color: #e5e5e5;
  padding: 6px 12px;
  font-size: 28px;
  border-radius: 6px;
  color: #999
}
.tab-hightlight {
  color: #fff;
  background-color: #80bd01
}
.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: .8;
  &-icon {
    color: #1890ff;
    font-size: 100px
  }
}
.html {
  font-size: 30px !important
}
.loading, .error {
  height: 100%;
  width: 100%;
  background-position: 50% 20vw;
  background-repeat: no-repeat;
  background-size: 20vw 20vw
}
.loading {
  background-image: url(../images/loading.gif)
}
.error {
  background-image: url(../images/error.png)
}
