.loading
  padding 20px 0
  text-align center
  font-size 26px
.list
  display block
  border-bottom 1px solid #EEE
  padding 16px 20px
  box-sizing border-box
  width 750px
.top
.bottom
  display flex
  align-items center
  padding 14px 0 4px
.title
  color #000
  flex 1
  margin 0 0 0 16px
  font-size 33px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.avatar
  display inline-block
  width 90px
  height 90px
  border-radius 50%
  background-size cover
  background-color #EEE
  margin-right 20px
.info
  flex 1 1
  line-height 1.3
.cnt
  margin 0
  display flex
  color #777
  padding 4px 0
  font-size 28px
.left
  flex 1 1 auto
.right
  flex 0 0 auto
