.type
  background-color #EEE
  margin 0 -20px 10px
  font-size 30px
  padding 20px 40px
  &-icon
    font-size 28px
    margin-right 20px
  &-text
    vertical-align middle
.link
  display block
  border-top 1px solid #EEE
  padding 0 20px
  box-sizing border-box
  width 100vw
.title
  color #000
  margin 0
  padding 20px 0
  font-size 32px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.avatar
  display inline-block
  width 70px
  height 70px
  border-radius 50%
  background-size cover
  background-color #EEE
  margin-right 20px
.bottom
  display flex
  align-items center
  padding 0 10px 20px
  font-size 28px
.right
  flex 1
  color #777
  display flex
  justify-content space-between
